*~
*.orig
*.kate-swp
.anjuta_sym_db.db
*anjuta*
*.anjuta

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generated docs
/docs

# Qt Creator
*.autosave
export-name.txt
